{% extends 'base.html.twig' %}

{% block title %}Réservations
{% endblock %}

{% block body %}
	<h1>Réservations</h1>

	<div class="reservation-list-container">
		<div class="user-table">
			{% if reservations is not empty %}
				<ul class="reservation-list">
					{% for reservation in reservations %}
						<li class="reservation-item">
							<div class="reservation-item-content">
								<p>
									<strong>Statut:</strong>
									{{ reservation.statut }}</p>
								<p>
									<strong>Début:</strong>
									{{ reservation.dateResaDebut ? reservation.dateResaDebut|date('d/m/Y') : '' }}</p>
								<p>
									<strong>Fin:</strong>
									{{ reservation.dateResaFin ? reservation.dateResaFin|date('d/m/Y') : '' }}</p>
								<p>
									<strong>Dossier n°:</strong>
									{{ reservation.dossierResa }}</p>
								<p>
									<strong>Acompte:</strong>
									{{ reservation.acompte ? 'Oui' : 'Non' }}</p>
								<p>
									<strong>Caution:</strong>
									{{ reservation.caution ? 'Oui' : 'Non' }}</p>
								<p>
									<strong>Catégorie:</strong>
									{{ reservation.categorie.nom }}</p>
								<p>
									<strong>Options:</strong>
									{% for option in reservation.options %}
										{{ option.nom }}
									{% else %}
										Aucune option
									{% endfor %}
								</p>
							</div>
							<div class="reservation-item-actions">
								<a class="btn-principal" href="{{ path('app_reservation_show', {'id': reservation.id}) }}">Voir</a>
								{% if reservation.statut == 'en_attente' %}
									<a class="btn-principal" href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">Modifier</a>
								{% endif %}
							</div>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<p class="no-reservation">Aucune réservation trouvée.</p>
			{% endif %}
		</div>
		{# Pagination #}
		{% if reservations.pageCount > 1 %}
			<div class="navigation">
				{{ knp_pagination_render(reservations) }}
			</div>
		{% endif %}
	</div>

	<a class="btn-principal" href="{{ path('app_reservation_new') }}">Faites votre réservation maintenant</a>
{% endblock %}
