{% extends 'base.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
    <h1>Réservations</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>DateResaDebut</th>
                {# <th>UserId</th> #}
                <th>DossierResa</th>
                <th>Acompte</th>
                <th>Caution</th>
                {# <th>CategorieId</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.dateResaDebut ? reservation.dateResaDebut|date('Y-m-d') : '' }}</td>
                {# <td>{{ reservation.utilisateurId }}</td> #}
                <td>{{ reservation.dossierResa }}</td>
                <td>{{ reservation.acompte ? 'Yes' : 'No' }}</td>
                <td>{{ reservation.caution ? 'Yes' : 'No' }}</td>
                {# <td>{{ reservation.categorieId }}</td> #}
                <td>
                    <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">Voir</a>
                    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune réservation trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_new') }}">Faites votre réservation maintenant</a>
{% endblock %}
