{% extends 'base.html.twig' %}

{% block title %}Votre réservation
{% endblock %}

{% block body %}
	<h1>Votre réservation</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Pseudo</th>
				<td>{{ reservation.user.pseudo }}</td>
			</tr>
			<tr>
				<th>Début de réservation</th>
				<td>{{ reservation.dateResaDebut ? reservation.dateResaDebut|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Fin de réservation</th>
				<td>{{ reservation.dateResaFin ? reservation.dateResaFin|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Dossier n°
				</th>
				<td>{{ reservation.dossierResa }}</td>
			</tr>

			<tr>
				<th>Statut de la réservation</th>
				<td>{{ reservation.statut }}</td>
			</tr>
			<tr>
				<th>Acompte</th>
				<td>{{ reservation.acompte ? 'Oui' : 'Non' }}</td>

			</tr>
			<tr>
				<th>Caution</th>
				<td>{{ reservation.caution ? 'Oui' : 'Non' }}</td>
			</tr>
			<tr>
				<th>Categorie</th>
				<td>{{ reservation.categorie.nom }}</td>
			</tr>
			<tr>
				<th>Options</th>
				<td>
					{% for option in reservation.options %}
						{{ option.nom }}
					{% else %}
						Aucune option
					{% endfor %}
				</td>
			</tr>
		</tbody>
	</table>
	{% if reservation.statut != 'annulée' and is_granted('ROLE_USER') and app.user == reservation.user %}
		<form method="post" action="{{ path('app_reservation_cancel', {'id': reservation.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir annuler cette réservation ?');">
			<input type="hidden" name="_token" value="{{ csrf_token('cancel' ~ reservation.id) }}">
			<button class="btn-principal">Annuler ma réservation</button>
		</form>
	{% endif %}
		<a class="btn-principal" href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">Modifier</a>
	{% if is_granted('ROLE_ADMIN') %}
		{{ include('reservation/_delete_form.html.twig') }}
	{% endif %}
		<a class="btn-principal" href="{{ path('app_reservation_index') }}">Retour à la liste</a>
{% endblock %}
