{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}
    <h1>Utilisateur index</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom</th>
                <th>Prenom</th>
                <th>Pseudo</th>
                <th>Email</th>
                <th>MotDePasse</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                {# <td>{{ utilisateur.id }}</td> #}
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.pseudo }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.motDePasse }}</td>
                <td>{{ utilisateur.roles ? utilisateur.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app_utilisateur_show', {'id': utilisateur.id}) }}">Voir le profil</a>
                    <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}">Editer le profil</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun utilisateur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_utilisateur_new') }}">Créez votre compte ici !</a>
{% endblock %}
