{% extends 'base.html.twig' %}

{% block title %}Votre message
{% endblock %}

{% block body %}
	<form class="form-container" method="POST">
		<h1>Votre message</h1>
		{% if app.user %}
			<p>
				{{ app.user.pseudo }}
			</p>
		{% endif %}
		{{ form_start(contactForm) }}
		{{ form_widget(contactForm) }}
		<button class="btn-principal">{{ button_label|default('Envoyer') }}</button>
		{{ form_end(contactForm) }}
	</form>

{% endblock %}
