<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>
			{% block title %}SCI LA THÉRÈSIÈRE
			{% endblock %}
		</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Ovo&family=Playball&family=Roboto&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}

			<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/fr.js"></script>


		{% endblock %}
	</head>
	<body>
		{% block header %}
			{{ include('layout/header.html.twig')}}
		{% endblock %}

		{% block flash %}
			<div class="flash-messages-container">
				{% for label, messages in app.flashes %}
					{% for message in messages %}
						<div class="flash-message flash-{{ label }}">
							{{ message }}
						</div>
					{% endfor %}
				{% endfor %}
			</div>
		{% endblock %}

		<main>
			{% block body %}{% endblock %}
		</main>


		{% block footer %}
			{{  include('layout/footer.html.twig') }}
		{% endblock %}
	</body>
</html>
