<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>
			{% block title %}SCI LA THÉRÈSIÈRE
			{% endblock %}
		</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Ovo&family=Playball&family=Roboto&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}

			<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/fr.js"></script>


		{% endblock %}
	</head>
	<body>
		{% block header %}
			{{ include('layout/header.html.twig')}}
		{% endblock %}

		{% block flash %}
			<div class="flash-messages-container">
				{% for label, messages in app.flashes %}
					{% for message in messages %}
						<div class="flash-message flash-{{ label }}">
							{{ message }}
						</div>
					{% endfor %}
				{% endfor %}
			</div>
		{% endblock %}

		<main>
			{% block body %}{% endblock %}
		</main>


		{% block footer %}
			{{  include('layout/footer.html.twig') }}
		{% endblock %}
		<div id="cookie_banner">
			<p>Ce site utilise des cookies pour améliorer votre expérience. En cliquant sur "Accepter", vous consentez.
										Consultez notre
				<a href="{{ path('app_legal_page_show', {'slug': 'politique-de-confidentialite' })}}" target="_blank" aria-label="Consulter notre Politique de Confidentialité">Politique de Confidentialité</a>
			</p>
			<div>
				<button class="btn-refuse" aria-label="Refuser les cookies non essentiels">Refuser</button>
				<button class="btn-accept" aria-label="Accepter tous les cookies">Accepter</button>
			</div>
		</div>

		<script src="{{ asset('script/banner_cookies.js') }}" defer></script>

	</body>


</html>
