<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>
			{% block title %}SCI LA THÉRÈSIÈRE
			{% endblock %}
		</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Ovo&family=Playball&family=Roboto&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}

			<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/fr.js"></script>


			{# --- DÉBUT INTÉGRATION TERMSFEED (Remplace l'ancienne bannière) --- #}

			<!-- 1. Script de la librairie TermsFeed -->
			<script type="text/javascript" src="https://www.termsfeed.com/public/cookie-consent/4.2.0/cookie-consent.js" charset="UTF-8"></script>

			<!-- 2. Configuration et démarrage de la bannière -->
			<script type="text/javascript" charset="UTF-8">
				document.addEventListener('DOMContentLoaded', function () {
cookieconsent.run({
"notice_banner_type": "bar",
"notice_banner_position": "bottom",
"consent_type": "express",
"palette": "light",
"language": "fr",
"page_load_consent_management": false,
"cookie_policy_url": "{{ path('app_legal_page_show', {'slug': 'politique-de-cookies'}) }}",
"ignore_pages": [
"{{ path('app_legal_page_show',{'slug':'politique-de-cookies'}) }}", "{{ path('app_legal_page_show',{'slug':'mentions-legales'}) }}", "{{ path('app_legal_page_show',{'slug':'politique-de-confidentialite'}) }}"
],
"decline_btn_color": "#d9d9d9",
"accept_btn_color": "#8f0000",
"accept_option_choice_btn_color": "#8f0000",
"text_color": "#000000",
"post_consent_display": "bar",
"website_name": "www.sallelathereisere.com",
"website_privacy_policy_url": "{{ path('app_legal_page_show', {'slug': 'politique-de-confidentialite'}) }}"
});
});
			</script>

			<!-- FIN INTÉGRATION TERMSFEED -->
		{% endblock %}
	</head>
	<body>
		{% block header %}
			{{ include('layout/header.html.twig')}}
		{% endblock %}

		{% block flash %}
			<div class="flash-messages-container">
				{% for label, messages in app.flashes %}
					{% for message in messages %}
						<div class="flash-message flash-{{ label }}">
							{{ message }}
						</div>
					{% endfor %}
				{% endfor %}
			</div>
		{% endblock %}

		<main>
			{% block body %}{% endblock %}
		</main>


		{% block footer %}
			{{  include('layout/footer.html.twig') }}
		{% endblock %}

	</body>


</html>
