{% extends 'base.html.twig' %}

{% block title %}Categories
{% endblock %}

{% block body %}
	<h1>Categories</h1>

	<div class="categories-list-container">
		<ul class="categories-list">
			{% for categorie in categories %}
				<li class="categorie-item">
					<div class="categorie-info">
						<strong>Nom:</strong>
						<span>{{ categorie.nom }}</span>
					</div>
					<div class="categorie-actions">
						<a class="btn-principal" href="{{ path('app_categorie_show', {'id': categorie.id}) }}">Voir</a>
						<a class="btn-principal" href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">Modifier</a>
					</div>
				</li>
			{% else %}
				<li class="no-categories">Aucune catégorie trouvée.</li>
			{% endfor %}
		</ul>

	</div>

	{# Pagination
	<div class="navigation">
		{{ knp_pagination_render(reservationsPagination) }}
	</div> #}
	<a class="btn-principal" href="{{ path('app_categorie_new') }}">Créez votre catégorie.</a>
{% endblock %}
