{% extends 'base.html.twig' %}

{% block title %}Catégories
{% endblock %}

{% block body %}
	<h1>Catégories</h1>

	<div class="categorie-details-container">
		<ul class="categorie-details-list">
			<li class="detail-item">
				<strong>Id :</strong>
				<span>{{ categorie.id }}</span>
			</li>
			<li class="detail-item">
				<strong>Nom :</strong>
				<span>{{ categorie.nom }}</span>
			</li>
		</ul>
	</div>

	<a class="btn-principal" href="{{ path('app_categorie_index') }}">Retour à la liste</a>

	<a class="btn-principal" href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">Modifier</a>

	{{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
