{% extends 'base.html.twig' %}

{% block title %}Visite de la Salle
{% endblock %}

{% block body %}
	<h1>Visite de la Salle</h1>

	<div
		class="user-table">
		{# Conteneur principal harmonisé #}
		{% if visites is not empty %}
			<ul class="visit-list">
				{% for visite in visites %}
					<li class="visit-item">
						<div class="visit-item-content">
							<div class="detail-row">
								<span class="detail-label">Pseudo :</span>
								<span class="detail-value">{{ visite.user.pseudo }}</span>
							</div>
							<div class="detail-row">
								<span class="detail-label">Date de Visite :</span>
								<span class="detail-value">{{ visite.dateVisite ? visite.dateVisite|date('d/m/Y') : 'Non définie' }}</span>
							</div>
							<div class="detail-row">
								<span class="detail-label">Statut :</span>
								<span class="detail-value">{{ visite.statut|capitalize }}</span>
							</div>
							<div class="detail-row">
								<span class="detail-label">Date souhaitée :</span>
								<span class="detail-value">{{ visite.dateResaSouhaite ? visite.dateResaSouhaite|date('d/m/Y') : 'N/C' }}</span>
							</div>
						</div>
						<div class="visit-item-actions">
							<a class="btn-principal" href="{{ path('app_visite_show', {'id': visite.id}) }}">Voir</a>
							{% if visite.statut == 'en_attente' %}
								<a class="btn-principal" href="{{ path('app_visite_edit', {'id': visite.id}) }}">Modifier</a>
							{% endif %}
						</div>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p class="no-data-found">Aucune visite trouvée.</p>
		{% endif %}

		{# Pagination #}
		{% if visites.pageCount > 1 %}
			<div class="navigation">
				{{ knp_pagination_render(visites) }}
			</div>
		{% endif %}
	</div>

	<div class="actions-container" style="text-align: center; margin-top: 20px;">
		<a class="btn-principal" href="{{ path('app_visite_new') }}">Réservez votre visite maintenant</a>
	</div>
{% endblock %}
