{% extends 'base.html.twig' %}

{% block title %}Visite de la Salle{% endblock %}

{% block body %}
    <h1>Visite de la Salle</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>DateVisite</th>
                {# <th>UtilisateurId</th> #}
                <th>DateResaSouhaite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for visite in visites %}
            <tr>
                <td>{{ visite.id }}</td>
                <td>{{ visite.dateVisite ? visite.dateVisite|date('Y-m-d') : '' }}</td>
                {# <td>{{ visite.utilisateurId }}</td> #}
                <td>{{ visite.dateResaSouhaite ? visite.dateResaSouhaite|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_visite_show', {'id': visite.id}) }}">Voir</a>
                    <a href="{{ path('app_visite_edit', {'id': visite.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune visite trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_visite_new') }}">Réservez votre visite maintenant.</a>
{% endblock %}
