{% extends 'base.html.twig' %}

{% block title %}Visite de la Salle
{% endblock %}

{% block body %}
	<h1>Visite de la Salle</h1>

	<div class="admin-dashboard">
		<div class="user-table">
			{% if visites is not empty %}
				<ul class="visit-list">
					{% for visite in visites %}
						<li class="visit-item">
							<div class="visit-item-content">
								<p>
									<strong>Pseudo :</strong>
									{{ visite.user.pseudo }}
								</p>
								<p>
									<strong>Date de Visite :</strong>
									{{ visite.dateVisite ? visite.dateVisite|date('d/m/Y') : '' }}
								</p>
								<p>
									<strong>Statut :</strong>
									{{ visite.statut }}
								</p>
								<p>
									<strong>Date de réservation souhaitée :</strong>
									{{ visite.dateResaSouhaite ? visite.dateResaSouhaite|date('d/m/Y') : '' }}
								</p>
							</div>
							<div class="visit-item-actions">
								<a class="btn-principal" href="{{ path('app_visite_show', {'id': visite.id}) }}">Voir</a>
								{% if visite.statut == 'en_attente' %}
									<a class="btn-principal" href="{{ path('app_visite_edit', {'id': visite.id}) }}">Modifier</a>
								{% endif %}
							</div>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<p class="no-data-found">Aucune visite trouvée.</p>
			{% endif %}

		</div>
		{# Pagination #}
		{% if visites.pageCount > 1 %}
			<div class="navigation">
				{{ knp_pagination_render(visites) }}
			</div>
		{% endif %}
	</div>

	<a class="btn-principal" href="{{ path('app_visite_new') }}">Réservez votre visite maintenant.</a>
{% endblock %}
