{% extends 'base.html.twig' %}

{% block title %}Visite
{% endblock %}

{% block body %}
	<h1>Visite</h1>

	<div class="visite-details-container">
		<ul class="visite-details-list">
			<li class="detail-item">
				<strong>Votre pseudo :</strong>
				<span>{{ visite.user.pseudo }}</span>
			</li>
			<li class="detail-item">
				<strong>Statut :</strong>
				<span>{{ visite.statut }}</span>
			</li>
			<li class="detail-item">
				<strong>Date de Visite :</strong>
				<span>{{ visite.dateVisite ? visite.dateVisite|date('d-m-Y') : '' }}</span>
			</li>
			<li class="detail-item">
				<strong>Date de Réservation Souhaitée :</strong>
				<span>{{ visite.dateResaSouhaite ? visite.dateResaSouhaite|date('d/m/Y') : '' }}</span>
			</li>
		</ul>
	</div>

	{% if visite.statut != 'annulée' and visite.statut !='validée' and is_granted('ROLE_USER') and app.user == visite.user %}
		<form method="post" action="{{ path('app_visite_cancel', {'id': visite.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir annuler cette visite ?');">
			<input type="hidden" name="_token" value="{{ csrf_token('cancel' ~ visite.id) }}">
			<button type="submit" class="btn-principal">Annuler ma visite</button>
		</form>
	{% endif %}

	<a class="btn-principal" href="{{ path('app_visite_index') }}">Retour à la liste</a>
	{% if visite.statut == 'en_attente' %}
		<a class="btn-principal" href="{{ path('app_visite_edit', {'id': visite.id}) }}">Modifier</a>
		{% if is_granted('ROLE_ADMIN') %}
			{{ include('visite/_delete_form.html.twig') }}
		{% endif %}
	{% endif %}
{% endblock %}
