{% extends 'base.html.twig' %}

{% block title %}Visite{% endblock %}

{% block body %}
    <h1>Visite</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Votre pseudo</th>
                <td>{{ visite.user.pseudo }}</td>
            </tr>
            <tr>
                <th>Date de Visite</th>
                <td>{{ visite.dateVisite ? visite.dateVisite|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Date de Réservation Souhaitée</th>
                <td>{{ visite.dateResaSouhaite ? visite.dateResaSouhaite|date('d/m/Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <button><a href="{{ path('app_visite_index') }}">Retour à la lsite</a></button>

    <button><a href="{{ path('app_visite_edit', {'id': visite.id}) }}">Modifier</a></button>

    {{ include('visite/_delete_form.html.twig') }}
{% endblock %}
