<header>
	<div class="header-container">
		<div class="logo-container">
			<a href="{{ path('app_home') }}">
				<img class="logo-container" src="{{ asset('img/logo.png') }}" alt="SCI LA THÉRÈSIÈRE - Retour à l'accueil">
			</a>
		</div>
		<div class="titre">
			<h1>LA SALLE DE LA THÉRÈSIÈRE</h1>
		</div>
		<nav class="navbar">
			<ul>
				<li>
					{# lien pour aller à la page d'accueil #}
					<a href="{{ path('app_home') }}">Accueil</a>
				</li>
				<li>
					{# Lien vers la page de visite #}
					<a href="{{ path('app_visite_index') }}">Visiter</a>
				</li>
				<li>
					{# Lien vers la page de réservation #}
					<a href="{{ path('app_reservation_index') }}">Réserver</a>
				</li>
				<li>
					{# Lien vers la page de contact #}
					<a href="{{ path('app_contact') }}">Contact</a>
				</li>
				<li>
					{# Lien vers la page des tarifs #}
					<a href="{{ path('app_tarif_index') }}">Tarifs</a>
				</li>
				{# Seulement pour les utilisateurs connectés #}
				{% if is_granted('ROLE_USER') %}
					<li>
						{# Lien vers le profil de l'utilisateur actuellement connecté #}
						<a href="{{ path('app_user_show', {'id': app.user.id}) }}">Profil</a>
					</li>
					<li>
						{# Lien pour déconnecter l'utilisateur #}
						<a href="{{ path('app_logout') }}">Quitter</a>
					</li>
					{# Section pour les notifications (icône d'enveloppe) #}
					<li class="notification-item">
					{% set unreadCount = unread_messages_count()|default(0) %}
						<a href="{{ path('app_messages') }}" class="notification-icon" aria-label="{{ unreadCount }} messages non lus. Voir les messages.">
							<img src="{{ asset('img/envelope-solid-full.svg') }}" alt="" >
							{% if unreadCount > 0 %}
							<span class="badge">{{ unreadCount }}</span>
							{% endif %}
						</a>
					</li>
					{# Bloc pour les utilisateurs non connectés #}
				{% else %}
					{# Lien vers la page d'inscription #}
					<li>
						<a href="{{ path('app_register') }}">
							Inscrivez-vous!</a>
					</li>
					<li>
						{# Lien vers la page de connexion #}
						<a href="{{ path('app_login') }}">Connexion</a>
					</li>
				{% endif %}
				{# Bloc conditionnel pour les administrateurs #}
				{% if is_granted('ROLE_ADMIN') %}
					<li>
						{# Lien vers l'espace administrateur #}
						<a href="{{ path('app_panel_admin') }}">Admin</a>
					</li>
				{% endif %}
			</ul>
		</nav>
	</div>
</header>