{% extends 'base.html.twig' %}

{% block title %}Profil de
	{{user.pseudo}}

{% endblock %}

{% block body %}


	<div class="card-user">
		<h1>Informations de mon profil</h1>
		<div class="user-info-header">
			<h2>
				<strong>{{ user.pseudo }}</strong>
			</h2>
		</div>

		<ul class="profile-details-list">
			<li class="profile-detail-item">
				<strong>Nom :</strong>
				<span>{{ user.nom }}</span>
			</li>
			<li class="profile-detail-item">
				<strong>Prénom :</strong>
				<span>{{ user.prenom }}</span>
			</li>
			<li class="profile-detail-item">
				<strong>Email :</strong>
				<span>{{ user.email }}</span>
			</li>
			{% if is_granted('ROLE_ADMIN') %}
				<li class="profile-detail-item">
					<strong>Utilisateur administrateur :</strong>
					<span>Oui</span>
				</li>
			{% endif %}
		</ul>


		{% if user.visites is not empty %}
			<h2>Mes visites</h2>
			<ul class="visits-list">
				{% for visite in visites %}
					<li class="visit-item">
						<p>
							<strong>Date de visite :</strong>
							{{ visite.dateVisite ? visite.dateVisite|date('d/m/Y') : '' }}
						</p>
						<p>
							<strong>Statut de la visite :</strong>
							{{ visite.statut }}
						</p>
						<p>
							<strong>Date de réservation souhaitée :</strong>
							{{ visite.dateResaSouhaite ? visite.dateResaSouhaite|date('d/m/Y') : '' }}
						</p>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
		{# Pagination #}
		{% if visites.pageCount > 1 %}
			<div class="navigation">
				{{ knp_pagination_render(visites) }}
			</div>
		{% endif %}


		{% if user.reservations is not empty %}
			<h2>Mes réservations</h2>
			<ul class="reservations-list">
				{% for reservation in reservations %}
					<li class="reservation-item">
						<p>
							<strong>Dossier de réservation :</strong>
							{{ reservation.dossierResa }}
						</p>
						<p>
							<strong>Date de début de réservation :</strong>
							{{ reservation.dateResaDebut ? reservation.dateResaDebut|date('d/m/Y') : '' }}
						</p>
						<p>
							<strong>Date de fin de réservation :</strong>
							{{ reservation.dateResaFin ? reservation.dateResaFin|date('d/m/Y') : '' }}
						</p>
						<p>
							<strong>Statut de la réservation :</strong>
							{{ reservation.statut }}
						</p>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
		{# Pagination #}
		{% if reservations.pageCount > 1 %}
			<div class="navigation">
				{{ knp_pagination_render(reservations) }}
			</div>
		{% endif %}


		{% if contacts is not empty %}
			<h2>Mes messages</h2>
			<ul class="messages-list">
				{% for contact in contacts %}
					<li class="message-item">
						<p>
							<strong>Message :</strong>
							{{ contact.message }}
						</p>
						<form method="post" action="{{ path('app_contact_delete', {'id': contact.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce message ?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
							<button type="submit" class="btn-principal">Supprimer</button>
						</form>
					</li>
				{% endfor %}
			</ul>
			{# Pagination #}
			{% if contacts.pageCount > 1 %}
				<div class="navigation">
					{{ knp_pagination_render(contacts) }}
				</div>
			{% endif %}
		{% endif %}


		{% if app.user and app.user.id == user.id %}
			<a class="btn-principal" href="{{ path('app_user_edit', {'id': app.user.id}) }}">
				Modifier le profil
			</a>
		{% endif %}
	</div>
	<a class="btn-principal" href="{{ path('app_home') }}">Retour à l'accueil</a>
{% endblock %}
