{% extends 'base.html.twig' %}

{% block title %}Profil de
	{{user.pseudo}}

{% endblock %}

{% block body %}


	<div class="card-user">
		<h1>Informations de mon profil</h1>
		<div class="user-info-header">
			<h2>{{user.nom}}
				{{user.prenom}}</h2>
			<p>
				<strong>Pseudo :</strong>
				{{user.pseudo}}</p>
			<p></p>
		</div>

		<div class="profile-details">
			<p>
				<strong>Email :</strong>
				{{user.email}}</p>
			{% if is_granted('ROLE_ADMIN') %}
				<p>
					<strong>Utilisateur administrateur :</strong>
					Oui</p>
			{% endif %}
		</div>


		{% if user.visites is not empty %}
			<h2>Mes visites</h2>
			<div class="visits-list">
				{% for visite in visites %}
					<div class="visit-item">
						<p>
							<strong>Date de visite</strong>
							{{ visite.dateVisite ? visite.dateVisite|date('d/m/Y') : '' }}</p>
						<p>
							<strong>Statut de la visite</strong>
							{{ visite.statut }}</p>
						<p>
							<strong>Date de réservation souhaitée</strong>
							{{ visite.dateResaSouhaite ? visite.dateResaSouhaite|date('d/m/Y') : '' }}</p>

					</div>
				{% endfor %}
			</div>
		{% endif %}


		{% if user.reservations is not empty %}
			<h2>Mes réservations</h2>
			<div class="reservations-list">
				{% for reservation in reservations %}
					<div class="reservation-item">
						<p>
							<strong>Dossier de réservation</strong>
							{{ reservation.dossierResa }}</p>
						<p>
							<strong>Date de début de réservation</strong>
							{{ reservation.dateResaDebut ? reservation.dateResaDebut|date('d/m/Y') : '' }}</p>
						<p>
							<strong>Statut de la réservation</strong>
							{{ reservation.statut }}</p>
						<p>
							<strong>Date de fin deréservation
							</strong>
							{{ reservation.dateResaFin ? reservation.dateResaFin|date('d/m/Y') : '' }}</p>

					</div>
				{% endfor %}
			</div>
		{% endif %}

		{% if app.user and app.user.id == user.id %}
			<div>
				<a href="{{ path('app_user_edit', {'id': app.user.id}) }}" class="btn">
					Modifier le profil
				</a>
			</div>
		{% endif %}
	</div>
{% endblock %}
